adf/pipeline/Lab7.json
{
	"name": "Lab7",
	"properties": {
		"activities": [
			{
				"name": "LookupEndpointNames",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Lab7HTTP_Json",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "SetArrayVariable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupEndpointNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ItemsArray",
					"value": {
						"value": "@activity('LookupEndpointNames').output.firstRow.translator.mappings",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SetArrayVariable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('ItemsArray')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "singleItem",
								"value": {
									"value": "@item().sink.name",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"ItemsArray": {
				"type": "Array"
			},
			"singleItem": {
				"type": "String"
			}
		},
		"annotations": []
	}
}